.search-box {
  -webkit-appearance: none;
  border: 1px;
  outline: none;
  padding: 10px;
  line-height: 30px;
  margin-bottom: 30px;
  border-radius: 25px;
  font-size: medium;
  height: 52px;
  border-radius: 25px;
}
