.search-box {
  -webkit-appearance: none;
  border: 1px;
  outline: none;
  padding: 10px;
  line-height: 30px;
  margin-bottom: 30px;
<<<<<<< HEAD
=======
  border-radius: 25px;
>>>>>>> 2ee0d7ee01d00c1f32a610c23d6dc14abf06b55a
  font-size: medium;
  height: 52px;
  border-radius: 25px;
}
