.card-container {
  display: flex;
  flex-direction: column;
  background-color: #95dada;
  border: 1px solid grey;
<<<<<<< HEAD
  border-radius: 30px;
=======
  border-radius: 5px;
>>>>>>> 2ee0d7ee01d00c1f32a610c23d6dc14abf06b55a
  padding: 20px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.card-container:hover {
  transform: scale(1.05);
}
